<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h1>tin-lab03</h1>
        <p>Select task to test</p>
    </div>
</main>

<header>
    <%- include('../partials/header'); %>
</header>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>