<form id="form" action="/form_results_taskb" method="get">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required value="Bob">

    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" required value="bob@bobmail.com">

    <label for="age">Age</label>
    <input type="number" id="age" name="age" required value="22">

    <button type="button" onclick="submit()">Submit</button>
</form>