<div class="container text-center mt-5">
    <h1>Choose a Task</h1>
    <br>
    <button class="btn btn-primary m-2" onclick="window.location.href='/'">Home</button>
    <button class="btn btn-primary m-2" onclick="window.location.href='/taska'">Task A</button>
    <button class="btn btn-secondary m-2" onclick="window.location.href='/taskb'">Task B</button>
    <button class="btn btn-success m-2" onclick="window.location.href='/taskc'">Task C</button>
    <button class="btn btn-danger m-2" onclick="window.location.href='/taskd'">Task D</button>
    <button class="btn btn-warning m-2" onclick="window.location.href='/taske'">Task E</button>
</div>