<form id="form">
    <img src="/images/logo1.jpg" alt="Logo1" style="max-width: 100%; height: auto;">
    <img src="/images/logo2.jpg" alt="Logo2" style="max-width: 100%; height: auto;">
    <img src="/images/logo3.jpg" alt="Logo3" style="max-width: 100%; height: auto;">
</form>