<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<div class="main-content">
<!--    <%- include('../partials/login_form'); %>-->
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>