<div class="slider-container">
    <div class="slider">
        <div class="slide"><img src="../../images/logo1.jpg"></div>
        <div class="slide"><img src="../../images/logo2.jpg"></div>
        <div class="slide"><img src="../../images/logo3.jpg"></div>
    </div>
</div>