<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/login/login_head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/login/login_header'); %>
</header>

<div class="main-content">
    <%- include('../partials/login/login_form'); %>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>