<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/creation/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<div class="main-content">
    <%- include('../partials/creation/new_creation'); %>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>