<div class = "additionalData">
    <p>After 3 to 5 updates it may be</p>
    <p>locked by external api but it still works :)</p>
    <p>Sample error:</p>
    <p>GET https://api.coingecko.com/api/... (Too Many Requests)</p>
</div>