<div class = "crypto">
    <h2>PEPE Crypto Currency</h2>
    <span class="pepeData">Loading</span>
    <p></p>
    <span class="currentDate">Loading</span>
</div>

<script src="../scripts/scriptb.js" defer></script>