<form id="new-creation">

    <h1>New creation</h1>
    <h2>Skip if you don't want to add creation</h2>

    <label for="id">ID:</label>
    <input type="text" id="id" name="id" required value="AUTO GENERATED" disabled>

    <label for="filePath">File:</label>
    <input type="text" id="filePath" name="filePath" required>

    <label for="campaignId">Campaign id:</label>
    <input type="number" id="campaignId" name="campaignId" required value=<%= id %> disabled>

    <button type="submit">Submit</button>
    <button type="button" id="skipButton">Skip</button>
    <label for="error"></label>
</form>