<div class="container text-center mt-5">
    <h1>Hello <%= name %>!</h1>
    <br>
    <button onclick="window.location.href='/home'">Home</button>
    <button onclick="window.location.href='/myCampaigns'">MyCampaigns</button>
    <button onclick="window.location.href='/myInfo'">MyInfo</button>
</div>