<div class="container text-center mt-5">
    <h1>Hello <%= user.name %> !</h1>
    <br>
    <button onclick="window.location.href='/index'">Home</button>
    <button onclick="window.location.href='/campaigns'">Campaigns</button>
    <button onclick="window.location.href='/new_campaign'">New Campaign</button>
    <button onclick="window.location.href='/user'"><%= user.name %></button>
    <button onclick="window.location.href='/logout'">Logout</button>
</div>